.gridcontainer{
    display:grid;
    background-color: aquamarine;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    padding:10px
}
.griditem{
    padding: 10px;
    background-color: rgb(193, 226, 5);
    text-align: center;
    font-size: 50px;

}
@media (min-width: 400px) {

    .gridcontainer {
        background-color: rgb(231, 160, 18);
    }

    .grid-items {
        background-attachment: rgb(192, 255, 210);
    }

}
@media (min-width: 500px) {

    .gridcontainer {
        background-color: rgb(4, 138, 138);
    }

    .grid-items {
        background-attachment: rgb(22, 208, 69);
    }
}

